*{
  
  
    margin: 0;
}
.sce{
    background-color: #00d2d3;
    width: 70%;
    

    margin: 50px auto;
 
 
}
.spi{
    background-color: #54a0ff;
    width: 70%;
    margin: auto;
}
.web{
    text-align: center;

    font-size: 30px ;
}
.sce h2{
    font-style: italic;
    font-size: 40px;
}
.sce p a{
    color: yellow;
    text-decoration: line-through;
}
.sce >a {
    color: beige;
}
.list{
    background-color: #e67e22;
    width: 70%;
    
    margin: auto;
    padding: 20px 25px 20px 25px;
 

}
.list h3:nth-child(odd){
    text-align: center;
    color: white;
    font-size: 30px;
    

}
i , b ,u{
    display: block;
    font-size: 20px;
    color:#95a5a6;
    text-align: center;
    width: 70%;
    padding: 20px 25px 20px 25px;
    background-color:#2f3640;
    margin: auto;
    
}
